head
  title Lab 8: Node.js, SPARQL, &amp; RDF

  //- Meta elements
  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width, initial-scale=1")

  //- Stylesheets
  link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700,900|Muli:300,400')
  link(rel='stylesheet', href='/stylesheets/index.css')