<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Lab 8</title>
  <link rel="stylesheet" href="resources/CSS/bootstrap.css">
  <link rel="stylesheet" href="resources/CSS/style.css">
  <link href='https://fonts.googleapis.com/css?family=Neucha|Rochester' rel='stylesheet' type='text/css'>
</head>
<body ng-app="sparqlApp">
<!-- Website Headings -->
<h1>Lab 8</h1>
<h3>Node.JS, SPARQL and RDF</h3>

<!-- Main Controller -->
<div ng-controller="sparqlController">
  <!-- Tweet Well -->
    <div class = "well well-md">
      <h2>Sparql Query</h2>

      <!-- Search Bar -->
      <div id="searchBarStuff">
        
          <div class="form-group">
            <!-- Query Box -->
            <textarea type="text" class="form-control" rows="6" ng-model="search" placeholder="SPARQL Query" id="searchBar"></textarea>

            <button class="btn btn-secondary" id="submitButton" type="button" data-ng-disabled="!search" ng-click="newQuery()">Run Query</button>
          </div>
        </div>
      </div>
      <!--End Search Bar-->

      <!-- Tweet List -->
      <div class = "well well-md">
        <h2>Results</h2>
        <!-- Instructions Div -->
        <div id = "instructions" style="display: inline;">
          <div class="text-primarys">
            <p>Intructions:</p>
            <ol>
              <li>Keep the query box with the default search. Press "Run Query." This wll find 10 schools and its campus and average class size. Results are sorted by campus size.</li>
              <li>Enter your own SPARQL query into the query box and select "Run Query."</li>
            </ol>
          </div>
        </div>

        <!-- Spinning Wheel Div -->
        <img id="loading" style="display: none;" class="img-responsive" src="http://www.arabianbusiness.com/skins/ab.main/gfx/loading_spinner.gif" alt="Loading...">

        <div id="results" style="display: none;">
          <!-- Each Tweet Well -->
        
          <table class="table table-bordered" >
            <thead>
              <tr>
                <td> School </td>
                <td> Campus Size </td>
                <td> Average Class Size </td>
              </tr>
            <thead>

            <tbody ng-repeat="s in stuff">
              <tr>
                <td> {{s.school.value}} </td>
                <td> {{s.campusSize.value}} </td>
                <td> {{s.averageClassSize.value}} </td>
              </tr>
            </tbody>
          </table>

        <!-- End Each Tweet Well -->

        </div>

      </div>
      <!-- End Tweet List -->
    </div>
    <!-- End Well Medium -->

</div>
<!-- End Controller -->

<!-- Scripts at bottom of HTML to follow best usage practices -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="resources/JS/angular.min.js"></script>
<script src="app.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="resources/JS/bootstrap.min.js"></script>
</body>
</html>