extend layout

block content
  h2 Results
  p Default query finds 10 movies and their producer(s) and director(s).
  img(src="http://www.arabianbusiness.com/skins/ab.main/gfx/loading_spinner.gif")#spinner
  div#results